fastapi
uvicorn
opencv-python
numpy
scikit-learn
scipy
scikit-image
pandas
pydantic
python-multipart
librosa
soundfile
moviepy==1.0.3
pillow
imageio==2.34.1
imageio-ffmpeg==0.5.1
onnxruntime
deep_sort_realtime==1.3.2
sqlalchemy
requests
filterpy
transformers
ultralytics
insightface
mediapipe==0.10.9
py-feat