fastapi
uvicorn
opencv-python-headless
torch
torchvision
torchaudio
transformers
ultralytics
numpy
scikit-learn
pydantic
python-multipart
librosa
soundfile
moviepy
fpdf2
pillow
imageio
imageio-ffmpeg
onnxruntime
