fastapi
uvicorn
opencv-python-headless
torch
torchvision
torchaudio
transformers
ultralytics
numpy
scikit-learn
pydantic
python-multipart
librosa
soundfile
moviepy==1.0.3
fpdf2
pillow
imageio==2.34.1
imageio-ffmpeg==0.5.1
onnxruntime
deep_sort_realtime==1.3.2
